@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Retirement Planning</h1>
    <p>Start planning your financially secure retirement today!</p>
    <a href="@Url.Action("Retirement", "Home")" class="btn btn-primary">Get Started</a>
</div>
