@{
    ViewData["Title"] = "Upload Income";
}

<h1>Upload Income</h1>

<div>
    <form method="post" enctype="multipart/form-data" action="@Url.Action("Upload", "Home")">
        <div class="form-group">
            <label for="incomeFile">Upload Income PDF:</label>
            <input type="file" class="form-control-file" id="incomeFile" name="incomeFile">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
